/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*LESS variables*/
/*LESS mix-ins*/
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/*general styles*/
html,
body {
  height: 100%;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  margin: 1%;
}
/*header style section*/
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation nav {
  width: 20%;
  margin: 2%;
}
.lower-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower-header-content img {
  width: 20%;
  height: 20%;
  border-radius: 30%;
  margin: 1%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title h1 {
  margin: 1%;
}
/*middle content styles*/
